/* Write your CSS here */
.notFoundImage {
  height: 300px;
}
.notFoundImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.notFoundHead {
  font-family: roboto;
}
.notFoundDescription {
  font-family: roboto;
  color: #616e7c;
}
